<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd  NLog.xsd"

      autoReload="true"

      throwExceptions="false"

      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="AppName" value="DVLA.Internal.API"/>
	<variable name="Path" value="C:\Logs"/>
	<variable name="Separator" value="&lt;====================================================================&gt;"/>
	<variable name="FileName" value="DVLA.Internal.API"/>

	<targets>
		<target xsi:type="file" name="file1" filename="${path}/${appname}/${filename}_${shortdate}.log"

							 layout="${separator}${newline}${longdate}  ${message}" />

		<target xsi:type="file" name="file2" filename="${path}/${appname}/${filename}_error_${shortdate}.log"

				layout="${separator}${newline}${longdate}  ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file1" />
		<logger name="*" minlevel="Error" writeTo="file2" />
	</rules>
</nlog>
